﻿@typeparam TItem
@inject LocalizerService  loc
@inject IJSRuntime  jSRuntime
<div class="row toolbar">
    <div class="col-10">
        <RadzenButton Text="@loc.Print" Icon="print" Click="@Print" />
        <RadzenButton Text="@loc.Refresh" Icon="cashed" Click="@Refresh" />
    </div>
</div>
<div id="divContent">
    @if (Data != null)
        @ChildContent(Data)
</div>

@code {
    [Parameter] public TItem Data { get; set; }
    [Parameter] public RenderFragment<TItem> ChildContent { get; set; }
    [Parameter] public EventCallback OnRefresh { get; set; }

    async void Print()
    {
        await jSRuntime.InvokeVoidAsync("printDiv");
    }

    async void Refresh()
    {
        await OnRefresh.InvokeAsync();
    }
}