﻿@page "/Forms/EditService"
@inject swaggerClient apiClient;
@inject Radzen.DialogService dialogService
@inject NotificationService notificationService
@inject LocalizerService  loc
@inject ClientSessionService session

<EditForm Model="Service" OnValidSubmit="@Submit" dir="@loc.Direction">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="sNamae">@loc.Name</label>
        <InputText @bind-Value="Service.NameAr" class="form-control" id="sNamae" />
    </div>

    <div class="form-group">
        <label for="sName">@loc.NameEn</label>
        <InputText @bind-Value="Service.NameEn" class="form-control" id="sName" />
    </div>


    <div class="text-right" dir="@loc.Direction">
        <RadzenButton ButtonType="ButtonType.Submit" style="margin:2px" Text="@loc.Save" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton ButtonType="ButtonType.Button" Click="@((args) => dialogService.Close(false))" style="margin:2px" Text="@loc.Cancel" ButtonStyle="ButtonStyle.Secondary" />
    </div>

</EditForm>

@code {

    [Parameter] public Client.Service Service { get; set; } = new Client.Service();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    async Task Submit()
    {
        if (Service.Id == Guid.Empty)
        {
            await apiClient.CreateServiceAsync(session.SecToken,Service);
            notificationService.Notify(new NotificationMessage() { Summary = loc.ServiceSaved, Severity = NotificationSeverity.Success });
        }
        else
        {
            await apiClient.EditServiceAsync(Service.Id, session.SecToken, Service);
            notificationService.Notify(new NotificationMessage() { Summary = loc.ServiceSaved, Severity = NotificationSeverity.Success });
        }


        dialogService.Close(true);
    }
}
