﻿@page "/Forms/EditRepresentative"
@inject swaggerClient apiClient;
@inject Radzen.DialogService dialogService
@inject NotificationService notificationService
@inject LocalizerService  loc
@inject ClientSessionService session

<EditForm Model="Representative" OnValidSubmit="@Submit" dir="@loc.Direction">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="sName">@loc.Name</label>
        <InputText @bind-Value="Representative.Name" class="form-control" id="sName" />
    </div>

    @*<div class="form-group">
        <label for="nn">@loc.Nationality</label>
        <InputText @bind-Value="Representative.Nationality" class="form-control" id="nn" />
    </div>

    <div class="form-group">
        <label for="bd">@loc.BirthDate</label>
        <InputDate @bind-Value="Representative.BirthDate" class="form-control" id="bd" />
    </div>

    <div class="form-group">
        <label for="bd1">@loc.StartingDate</label>
        <InputDate @bind-Value="Representative.WorkStartingDate" class="form-control" id="bd1" />
    </div>

    <div class="form-group">
        <label for="bd2">@loc.ResidencyDate</label>
        <InputDate @bind-Value="Representative.ResidencyDate" class="form-control" id="bd2" />
    </div>

    <div class="form-group">
        <label for="bd3">@loc.ResidencyEndDate</label>
        <InputDate @bind-Value="Representative.ResidencyEndDate" class="form-control" id="bd3" />
    </div>

    <div class="form-group">
        <label for="nn4">@loc.ResidencyNumber</label>
        <InputText @bind-Value="Representative.ResidencyNumber" class="form-control" id="nn4" />
    </div>

    <div class="form-group">
        <label for="bd5">@loc.PassportDate</label>
        <InputDate @bind-Value="Representative.PassportDate" class="form-control" id="bd5" />
    </div>

    <div class="form-group">
        <label for="bd6">@loc.PassportEndDate</label>
        <InputDate @bind-Value="Representative.PassportEndDate" class="form-control" id="bd6" />
    </div>

    <div class="form-group">
        <label for="nn7">@loc.PassportNumber</label>
        <InputText @bind-Value="Representative.PassportNumber" class="form-control" id="nn7" />
    </div>

    <div class="form-group">
        <label for="bd8">@loc.LicenseDate</label>
        <InputDate @bind-Value="Representative.LicenseDate" class="form-control" id="bd8" />
    </div>


    <div class="form-group">
        <label for="bd9">@loc.LicenseEndDate</label>
        <InputDate @bind-Value="Representative.LicenseEndDate" class="form-control" id="bd9" />
    </div>

    <div class="form-group">
        <label for="ln">@loc.LicenseNumber</label>
        <InputText @bind-Value="Representative.LicenseNumber" class="form-control" id="ln" />
    </div>

    <div class="form-group">
        <label for="a">@loc.Address</label>
        <InputText @bind-Value="Representative.Address" class="form-control" id="a" />
    </div>

    <div class="form-group">
        <label for="p">@loc.Phone</label>
        <InputText @bind-Value="Representative.Telephone" class="form-control" id="p" />
    </div>*@

    <div class="form-group">
        <label for="ia">@loc.Active</label>
        <InputCheckbox @bind-Value="Representative.IsActive" class="form-control" id="ia" />
    </div>

    <div class="text-right" dir="@loc.Direction">
        <RadzenButton ButtonType="ButtonType.Submit" style="margin:2px" Text="@loc.Save" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton ButtonType="ButtonType.Button" Click="@((args) => dialogService.Close(false))" style="margin:2px" Text="@loc.Cancel" ButtonStyle="ButtonStyle.Secondary" />
    </div>

</EditForm>

@code {

    [Parameter] public Client.Representative Representative { get; set; } = new Client.Representative();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    async Task Submit()
    {
        if (Representative.Id == Guid.Empty)
        {
            await apiClient.CreateRepresentativeAsync(session.SecToken,Representative);
            notificationService.Notify(new NotificationMessage() { Summary = loc.RepresentativeSaved, Severity = NotificationSeverity.Success });
        }
        else
        {
            await apiClient.EditRepresentativeAsync(Representative.Id, session.SecToken, Representative);
            notificationService.Notify(new NotificationMessage() { Summary = loc.RepresentativeSaved, Severity = NotificationSeverity.Success });
        }


        dialogService.Close(true);
    }
}
