﻿@page "/Forms/EditCustomer"
@inject swaggerClient apiClient
@inject Radzen.DialogService dialogService
@inject NotificationService notificationService
@inject LocalizerService  loc
@inject ClientSessionService session

<EditForm Model="Customer" OnValidSubmit="@Submit" dir="@loc.Direction">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="sNamae">@loc.Name</label>
        <InputText @bind-Value="Customer.NameAr" class="form-control" id="sNamae" />
    </div>

    <div class="form-group">
        <label for="sName">@loc.NameEn</label>
        <InputText @bind-Value="Customer.NameEn" class="form-control" id="sName" />
    </div>

    <div class="form-group">
        <label for="sName">@loc.Representative</label>
        <RadzenDropDown AllowClear="true" TValue="Client.Representative" class="form-control" required
                        Data=@representatives Change="@((args)=>RepresentativesChanaged(args))" @bind-Value="@Customer.Representative"
                        TextProperty="Name" />
    </div>

    <div class="form-group">
        <label for="rn">@loc.ResponsibleName</label>
        <InputText @bind-Value="Customer.ResponsibleName" class="form-control" id="rn" />
    </div>

    <div class="form-group">
        <label for="dt">@loc.StartingDate</label>
        <InputDate @bind-Value="Customer.StartingDate" class="form-control" id="dt" />
    </div>

    <div class="form-group">
        <label for="rn">@loc.Email</label>
        <InputText @bind-Value="Customer.Email" class="form-control" id="rn" />
    </div>

    <div class="form-group">
        <label for="rn">@loc.Phone</label>
        <InputText @bind-Value="Customer.Telephone" class="form-control" id="rn" />
    </div>

    <div class="form-group">
        <label for="rn">@loc.Notes</label>
        <InputText @bind-Value="Customer.Notes" class="form-control" id="rn" />
    </div>

    <div class="form-group">
        <label for="rn">@loc.Customer</label>
        <InputCheckbox @bind-Value="Customer.IsCustomer" class="form-control" id="rn" />
    </div>
    <RadzenFieldset Text="@loc.Plans">
        <RadzenButton Icon="add_circle_outline" Click="AddPlan" ButtonStyle="ButtonStyle.Light" />
        <RadzenDataGrid @ref="grid" Data="@Customer.Plans" TItem="Client.OperationPlan" Style="height:200px;" EmptyText="@loc.NoRows">
            <Columns>
                <RadzenDataGridColumn TItem="Client.OperationPlan" Property="Service.NameAr" Filterable="false" Title="@loc.Service" Width="100px" />
                <RadzenDataGridColumn TItem="Client.OperationPlan" Property="Device.NameAr" Filterable="false" Title="@loc.Device" Width="100px" />

                <RadzenDataGridColumn TItem="Client.OperationPlan" Property="M1" Filterable="false" Title="1" Width="30px">
                    <Template Context="data">
                        <InputCheckbox @bind-Value="data.M1" />
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Client.OperationPlan" Property="M2" Filterable="false" Title="2" Width="30px">
                    <Template Context="data">
                        <InputCheckbox @bind-Value="data.M2" />
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Client.OperationPlan" Property="M3" Filterable="false" Title="3" Width="30px">
                    <Template Context="data">
                        <InputCheckbox @bind-Value="data.M3" />
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Client.OperationPlan" Property="M4" Filterable="false" Title="4" Width="30px">
                    <Template Context="data">
                        <InputCheckbox @bind-Value="data.M4" />
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Client.OperationPlan" Property="M5" Filterable="false" Title="5" Width="30px">
                    <Template Context="data">
                        <InputCheckbox @bind-Value="data.M5" />
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Client.OperationPlan" Property="M6" Filterable="false" Title="6" Width="30px">
                    <Template Context="data">
                        <InputCheckbox @bind-Value="data.M6" />
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Client.OperationPlan" Property="M7" Filterable="false" Title="7" Width="30px">
                    <Template Context="data">
                        <InputCheckbox @bind-Value="data.M7" />
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Client.OperationPlan" Property="M8" Filterable="false" Title="8" Width="30px">
                    <Template Context="data">
                        <InputCheckbox @bind-Value="data.M8" />
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Client.OperationPlan" Property="M9" Filterable="false" Title="9" Width="30px">
                    <Template Context="data">
                        <InputCheckbox @bind-Value="data.M9" />
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Client.OperationPlan" Property="M10" Filterable="false" Title="10" Width="30px">
                    <Template Context="data">
                        <InputCheckbox @bind-Value="data.M10" />
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Client.OperationPlan" Property="M11" Filterable="false" Title="11" Width="30px">
                    <Template Context="data">
                        <InputCheckbox @bind-Value="data.M11" />
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Client.OperationPlan" Property="M12" Filterable="false" Title="12" Width="30px">
                    <Template Context="data">
                        <InputCheckbox @bind-Value="data.M12" />
                    </Template>
                </RadzenDataGridColumn>

                <RadzenDataGridColumn TItem="Client.OperationPlan" Width="50px">
                    <Template Context="data">
                        <RadzenButton Icon="delete" Click="@(()=>DeleteItem(data))" ButtonStyle="ButtonStyle.Light" />
                    </Template>
                </RadzenDataGridColumn>

            </Columns>
        </RadzenDataGrid>
    </RadzenFieldset>

    <div class="text-right" dir="@loc.Direction">
        <RadzenButton ButtonType="ButtonType.Submit" style="margin:2px" Text="@loc.Save" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton ButtonType="ButtonType.Button" Click="@((args) => dialogService.Close(false))" style="margin:2px" Text="@loc.Cancel" ButtonStyle="ButtonStyle.Secondary" />
    </div>

</EditForm>

@code {


    RadzenDataGrid<Client.OperationPlan> grid;

    [Parameter] public Client.Customer Customer { get; set; } = new Client.Customer();

    [Parameter] public Guid CustomerId { get; set; }

    IEnumerable<Client.Representative> representatives;

    protected override async Task OnInitializedAsync()
    {
        //if (Customer != null)
        //{
        //    Client.Device device = new Client.Device() { Id = Guid.NewGuid(), NameAr = "nameAr", NameEn = "nameEn" };
        //    Client.Service service = new Client.Service() { Id = Guid.NewGuid(), NameAr = "serAr", NameEn = "serEn" };
        //    Customer.Plans = new List<Client.OperationPlan>();
        //    Customer.Plans.Add(new Client.OperationPlan() { Device = device, Service = service });
        //    Customer.Plans.Add(new Client.OperationPlan() { Device = device, Service = service });
        //    Customer.Plans.Add(new Client.OperationPlan() { Device = device, Service = service });
        //    Customer.Plans.Add(new Client.OperationPlan() { Device = device, Service = service });
        //    Customer.Plans.Add(new Client.OperationPlan() { Device = device, Service = service });
        //    Customer.Plans.Add(new Client.OperationPlan() { Device = device, Service = service });
        //    Customer.Plans.Add(new Client.OperationPlan() { Device = device, Service = service });
        //    StateHasChanged();
        //}


        dialogService.OnClose += DialogClosed;

        representatives = await apiClient.GetAllRepresentativesAsync("", session.SecToken);
        await base.OnInitializedAsync();

        //if (Customer != null)
        //    SelectedRepresentativeId = Customer.Representative.Id;
    }




    async Task Submit()
    {
        if (CustomerId == Guid.Empty)
        {
            await apiClient.CreateCustomerAsync(session.SecToken, Customer);
            notificationService.Notify(new NotificationMessage() { Summary = loc.NewCustomer, Severity = NotificationSeverity.Success });
        }
        else
        {
            await apiClient.EditCustomerAsync(CustomerId, session.SecToken, Customer);
            notificationService.Notify(new NotificationMessage() { Summary = loc.EditCustomer, Severity = NotificationSeverity.Success });
        }

        dialogService.Close(true);
    }

    void RepresentativesChanaged(object value)
    {
        Console.WriteLine(value);
        var rep = value as Client.Representative;
        //Customer.RepresentativeId = rep.Id;
        Customer.Representative = rep;
    }

    async void AddPlan()
    {
        Dictionary<string, object> parameters = new Dictionary<string, object>();
        parameters.Add("CustomerId", CustomerId);
        await dialogService.OpenAsync<Forms.EditPlan>("", parameters);
    }

    async void DialogClosed(dynamic result)
    {
        if (result is Client.OperationPlan op)
        {
            if (Customer.Plans == null) Customer.Plans = new List<Client.OperationPlan>();
            Customer.Plans.Add(op);
            StateHasChanged();
            grid.Reload();
        }



        //if (((bool) result)==true)
        //{
        //    LoadData();
        //}
    }

    void DeleteItem(Client.OperationPlan operationPlan)
    {
        Customer.Plans.Remove(operationPlan);
        StateHasChanged();


        grid.Reload();
    }
}
