﻿@page "/Forms/EditPlan"
@inject swaggerClient apiClient;
@inject Radzen.DialogService dialogService
@inject NotificationService notificationService
@inject LocalizerService  loc
@inject ClientSessionService session

<EditForm Model="OperationPlan" OnValidSubmit="@Submit" dir="@loc.Direction">
    <DataAnnotationsValidator />
    <ValidationSummary />


    <div class="form-group">
        <label for="Representative">@loc.Service</label>
        <RadzenDropDown AllowClear="true" TValue="Client.Service" class="form-control" required
                        Data=@Services Change="@((args)=>RepresentativesChanaged(args,"Service"))"
                        TextProperty="NameAr" />
    </div>

    <div class="form-group">
        <label for="Representative">@loc.Device</label>
        <RadzenDropDown AllowClear="true" TValue="Client.Device" class="form-control" required
                        Data=@Devices Change="@((args)=>RepresentativesChanaged(args,"Device"))"
                        TextProperty="NameAr" />
    </div>


    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>11</th>
                    <th>12</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><InputCheckbox @bind-Value="OperationPlan.M1" /></td>
                    <td><InputCheckbox @bind-Value="OperationPlan.M2" /></td>
                    <td><InputCheckbox @bind-Value="OperationPlan.M3" /></td>
                    <td><InputCheckbox @bind-Value="OperationPlan.M4" /></td>
                    <td><InputCheckbox @bind-Value="OperationPlan.M5" /></td>
                    <td><InputCheckbox @bind-Value="OperationPlan.M6" /></td>
                    <td><InputCheckbox @bind-Value="OperationPlan.M7" /></td>
                    <td><InputCheckbox @bind-Value="OperationPlan.M8" /></td>
                    <td><InputCheckbox @bind-Value="OperationPlan.M9" /></td>
                    <td><InputCheckbox @bind-Value="OperationPlan.M10" /></td>
                    <td><InputCheckbox @bind-Value="OperationPlan.M11" /></td>
                    <td><InputCheckbox @bind-Value="OperationPlan.M12" /></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-right" dir="@loc.Direction">
        <RadzenButton ButtonType="ButtonType.Submit" style="margin:2px" Text="@loc.Save" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton ButtonType="ButtonType.Button" Click="@((args) => dialogService.Close(false))" style="margin:2px" Text="@loc.Cancel" ButtonStyle="ButtonStyle.Secondary" />
    </div>

</EditForm>

@code {

    [Parameter] public Client.OperationPlan OperationPlan { get; set; } = new Client.OperationPlan();

    [Parameter] public Guid CustomerId { get; set; }

    IEnumerable<Client.Device> Devices;
    IEnumerable<Client.Service> Services;

    protected override async Task OnInitializedAsync()
    {
        Devices = await apiClient.GetAllDevicesAsync("", session.SecToken);
        Services = await apiClient.GetAllServicesAsync("", session.SecToken);

        await base.OnInitializedAsync();
    }

    async Task Submit()
    {
        dialogService.Close(OperationPlan);
    }

    void RepresentativesChanaged(object value, string type)
    {
        if (type == "Device")
            OperationPlan.Device = value as Client.Device;
        else
            OperationPlan.Service = value as Client.Service;
    }
}
