﻿@page "/Forms/LoginForm"
@inject swaggerClient apiClient;
@inject Radzen.DialogService dialogService
@inject NotificationService notificationService
@inject LocalizerService  loc
@inject ClientSessionService session



<EditForm Model="loginInput" OnValidSubmit="@Submit" dir="@loc.Direction">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="sNamae">@loc.UserName</label>
        <InputText @bind-Value="loginInput.UserName" class="form-control" id="sNamae" />
    </div>

    <div class="form-group">
        <label for="sName">@loc.Password</label>
        <InputText @bind-Value="loginInput.Password" class="form-control" id="sName" type="password" />
    </div>

    <div class="alert alert-danger" hidden="@(!ShowInvalidUsernameOrPassword)">@loc.InvalidUsernameOrPassword</div>

    <div class="text-right" dir="@loc.Direction">
        <RadzenButton ButtonType="ButtonType.Submit" style="margin:2px" Text="@loc.LogIn" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton ButtonType="ButtonType.Button" Click="@((args) => dialogService.Close(false))" style="margin:2px" Text="@loc.Cancel" ButtonStyle="ButtonStyle.Secondary" />
    </div>

</EditForm>

@code { Client.LoginInput loginInput = new LoginInput();
    bool ShowInvalidUsernameOrPassword = false;

    protected override async Task OnInitializedAsync()
    {
        //if (session.IsLoggedIn) dialogService.Close();
        await base.OnInitializedAsync();
    }

    async Task Submit()
    {
        LoginResult result = null;

        try
        {
            if (session.IsLoggedIn == false)
            {
                result = await apiClient.LoginAsync(loginInput);
                if  (result.IsActive==false)
                {
                    return;
                }
                else
                {
                    dialogService.Close(true);
                }


            }

        }
        catch (Exception)
        {
            //ShowInvalidUsernameOrPassword = true;
            ////throw;
            //result = await apiClient.LoginAsync(loginInput);
        }

        if (result != null)
        {
            session.SecToken = result.SecToken;
            session.UserId = result.UserId;
            session.UserName = result.UserName;
            session.IsAdmin = result.IsAdmin;
            session.CanEdit = result.CanEdit;
            session.CanDelete = result.CanDelete;
            session.IsActive = result.IsActive;
            session.IsLoggedIn = true;
            dialogService.Close(true);
        }
        dialogService.Close(true);

    } }
