﻿@page "/Forms/RegisterForm"
@inject swaggerClient apiClient;
@inject Radzen.DialogService dialogService
@inject NotificationService notificationService
@inject LocalizerService  loc
@inject ClientSessionService session

<EditForm Model="registerModel" OnValidSubmit="@Submit" dir="@loc.Direction">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="sNamae">@loc.UserName</label>
        <InputText @bind-Value="registerModel.UserName" class="form-control" id="sNamae" />
    </div>

    <div class="form-group">
        <label for="sName1">@loc.Password</label>
        <InputText @bind-Value="registerModel.Password" class="form-control" id="sName1" type="password" />
    </div>

    <div class="form-group">
        <label for="sName2">@loc.Password</label>
        <InputText @bind-Value="registerModel.Password2" class="form-control" id="sName2" type="password" />
    </div>

    <div class="alert alert-danger" hidden="@(!ShowUserNameAlreadyExists)">@loc.UserNameAlreadyExists</div>
    <div class="alert alert-danger" hidden="@(!ShowPasswordsMustBeIdentical)">@loc.PasswordsMustBeIdentical</div>

    <div class="text-right" dir="@loc.Direction">
        <RadzenButton ButtonType="ButtonType.Submit" style="margin:2px" Text="@loc.Register" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton ButtonType="ButtonType.Button" Click="@((args) => dialogService.Close(false))" style="margin:2px" Text="@loc.Cancel" ButtonStyle="ButtonStyle.Secondary" />
    </div>

</EditForm>

@code {

    RegisterModel registerModel = new RegisterModel();
    bool ShowUserNameAlreadyExists = false;
    bool ShowPasswordsMustBeIdentical = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    async Task Submit()
    {
        ShowUserNameAlreadyExists = false;
        ShowPasswordsMustBeIdentical = false;

        if (registerModel.Password != registerModel.Password2)
        {
            ShowPasswordsMustBeIdentical = true;
            return;
        }


        try
        {
            await apiClient.RegisterAsync(new LoginInput { UserName = registerModel.UserName, Password = registerModel.Password });
        }
        catch (Exception)
        {
            ShowUserNameAlreadyExists = true;
            return;
        }

        dialogService.Close(true);
    }

    class RegisterModel
    {
        public string UserName { get; set; }
        public string Password { get; set; }
        public string Password2 { get; set; }
    }
}
