﻿@page "/Forms/SelectJobOrder"
@inject swaggerClient apiClient;
@inject Radzen.DialogService dialogService
@inject NotificationService notificationService
@inject LocalizerService  loc
@inject ClientSessionService session

<EditForm Model="JobOrder" OnValidSubmit="@Submit" dir="@loc.Direction">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="in">@loc.BatchNumber</label>
        <InputNumber @bind-Value="JobOrder.BatchNumber" class="form-control" id="in" />
    </div>

    <div class="form-group">
        <label for="in">@loc.InvoiceNumber</label>
        <InputText @bind-Value="JobOrder.InvoiceNumber" class="form-control" id="in" />
    </div>

    <div class="form-group">
        <label for="Representative">@loc.Customer</label>
        <RadzenDropDown AllowClear="true" TValue="Guid" class="form-control" required
                        Data=@Customers Change="@((args)=>RepresentativesChanaged(args,"Customer"))"
                        TextProperty="Name" ValueProperty="Id" />
    </div>

    <div class="form-group">
        <label for="Representative">@loc.Representative</label>
        <RadzenDropDown AllowClear="true" TValue="Guid" class="form-control" required
                        Data=@Representatives Change="@((args)=>RepresentativesChanaged(args,"Representative"))"
                        TextProperty="Name" ValueProperty="Id" />
    </div>

    <div class="form-group">
        <label for="Representative">@loc.Supervisor</label>
        <RadzenDropDown AllowClear="true" TValue="Guid" class="form-control" required
                        Data=@Supervisors Change="@((args)=>RepresentativesChanaged(args,"Supervisor"))"
                        TextProperty="Name" ValueProperty="Id" />
    </div>


    <div class="form-group">
        <label for="rn">@loc.ResponsibleName</label>
        <InputText @bind-Value="JobOrder.ResponsibleName" class="form-control" id="rn" />
    </div>

    <div class="form-group">
        <label for="rp">@loc.ResponsiblePhone</label>
        <InputText @bind-Value="JobOrder.ResponsibleTelephone" class="form-control" id="rp" />
    </div>

    <div class="form-group">
        <label for="s">@loc.Statement</label>
        <InputTextArea @bind-Value="JobOrder.Statement" class="form-control" id="s" />
    </div>

    <div class="form-group">
        <label for="sp">@loc.SpareParts</label>
        <InputTextArea @bind-Value="JobOrder.SpareParts" class="form-control" id="sp" />
    </div>

    <div class="form-group">
        <label for="d">@loc.Done</label>
        <InputText @bind-Value="JobOrder.Done" class="form-control" id="d" />
    </div>

    <div class="row">
        <div class="col-2">
            <label>
                <InputCheckbox @bind-Value="JobOrder.ReportPreparing" />
                @loc.ReportPreparing
            </label>
        </div>

        <div class="col-2">
            <label>
                <InputCheckbox @bind-Value="JobOrder.MaintenanceOfExtinguishers" />
                @loc.MaintenanceOfExtinguishers
            </label>
        </div>

        <div class="col-2">
            <label>
                <InputCheckbox @bind-Value="JobOrder.MaintenanceAndRepair" />
                @loc.MaintenanceAndRepair
            </label>
        </div>

        <div class="col-2">
            <label>
                <InputCheckbox @bind-Value="JobOrder.RepairFailures" />
                @loc.RepairFailures
            </label>
        </div>

        <div class="col-2">
            <label>
                <InputCheckbox @bind-Value="JobOrder.ApproveSparePartsChange" />
                @loc.ApproveSparePartsChange
            </label>
        </div>

        <div class="col-2">
            <label>
                <InputCheckbox @bind-Value="JobOrder.SiteStudy" />
                @loc.SiteStudy
            </label>
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label for="id">@loc.IsDone</label>
        <InputCheckbox @bind-Value="JobOrder.IsDone" class="form-control" id="id" />
    </div>

    <div class="text-right" dir="@loc.Direction">
        <RadzenButton ButtonType="ButtonType.Submit" style="margin:2px" Text="@loc.Search" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton ButtonType="ButtonType.Button" Click="@((args) => dialogService.Close(false))" style="margin:2px" Text="@loc.Cancel" ButtonStyle="ButtonStyle.Secondary" />
    </div>

</EditForm>

@code {
    public Client.JobOrderEditModel JobOrder { get; set; } = new Client.JobOrderEditModel() { InvoiceNumber = "0" };

    IEnumerable<Client.NamedItem> Customers;
    IEnumerable<Client.NamedItem> Representatives;
    IEnumerable<Client.NamedItem> Supervisors;

    protected override async Task OnInitializedAsync()
    {
        Customers = await apiClient.GetAllCustomersNamesAsync(session.SecToken);
        Representatives = await apiClient.GetAllRepresentativesNamesAsync(session.SecToken);
        Supervisors = await apiClient.GetAllSupervisorsNamesAsync(session.SecToken);

        await base.OnInitializedAsync();
    }

    async Task Submit()
    {
        //if (JobOrder.Id == Guid.Empty)
        //    await apiClient.CreateJobOrderAsync(session.SecToken, JobOrder);
        //else
        //    await apiClient.EditJobOrderAsync(JobOrder.Id, session.SecToken, JobOrder);
        // Console.WriteLine(JsonContent.Create( JobOrder));
        dialogService.Close(JobOrder);
    }

    async void RepresentativesChanaged(object value, string type)
    {
        if (!Guid.TryParse(value.ToString(), out Guid id)) return;
        if (type == "Customer")
        {
            JobOrder.CustomerId = id;
            //var data = apiClient.GetCustomerAsync(id, session.SecToken);
            //JobOrder.ResponsibleName = data.Result.ResponsibleName;

            //var x = await apiClient.GetCustomerAsync(id, session.SecToken);
            //if (x != null)
            //{
            //    JobOrder.ResponsibleName = x.ResponsibleName;
            //    JobOrder.ResponsibleTelephone = x.Telephone;
            //}
        }
        else if (type == "Representative")
            JobOrder.RepresentativeId = id;
        else
            JobOrder.SupervisorId = id;
    } }
