﻿@page "/Forms/SelectCustomerForm"
@inject swaggerClient apiClient;
@inject Radzen.DialogService dialogService
@inject swaggerClient apiClient;
@inject LocalizerService  loc
@inject ClientSessionService session

<EditForm Model="device" OnValidSubmit="@Submit" dir="@loc.Direction">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="sName">@loc.Customer</label>
        <RadzenDropDown AllowClear="true" TValue="Guid" class="form-control" required
                        Data=@customers Change="@((args)=>ValueChanaged(args))"
                        TextProperty="Name" ValueProperty="Id" />
    </div>

    <div class="text-right" dir="@loc.Direction">
        <RadzenButton ButtonType="ButtonType.Submit" style="margin:2px" Text="@loc.Show" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton ButtonType="ButtonType.Button" Click="@((args) => dialogService.Close(false))" style="margin:2px" Text="@loc.Cancel" ButtonStyle="ButtonStyle.Secondary" />
    </div>

</EditForm>

@code {
    Client.Device device = new() { NameAr = "1", NameEn = "1" }; // Because EditForm require model.
    IEnumerable<Client.NamedItem> customers;
    Guid SelectedId;

    protected override async Task OnInitializedAsync()
    {
        customers = await apiClient.GetAllCustomersNamesAsync(session.SecToken);
        await base.OnInitializedAsync();
    }

    async Task Submit()
    {
        dialogService.Close(SelectedId);
    }

    void ValueChanaged(object value)
    {
        Console.WriteLine(value);
        if (Guid.TryParse(value?.ToString(), out Guid id))
        {
            SelectedId = id;
        }
    }
}
