﻿@page "/Forms/SelectInvoceNoForm"
@inject swaggerClient apiClient;
@inject Radzen.DialogService dialogService
@inject swaggerClient apiClient;
@inject LocalizerService  loc
@inject ClientSessionService session

<EditForm Model="device" OnValidSubmit="@Submit" dir="@loc.Direction">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="sNamae">@loc.InvoiceNumber</label>
        <InputText @bind-Value="InvoiceNo" class="form-control" id="sNamae" />
    </div>


    <div class="text-right" dir="@loc.Direction">
        <RadzenButton ButtonType="ButtonType.Submit" style="margin:2px" Text="@loc.Show" ButtonStyle="ButtonStyle.Primary" />
        <RadzenButton ButtonType="ButtonType.Button" Click="@((args) => dialogService.Close(false))" style="margin:2px" Text="@loc.Cancel" ButtonStyle="ButtonStyle.Secondary" />
    </div>

</EditForm>

@code {
    Client.Device device = new() { NameAr = "1", NameEn = "1" }; // Because EditForm require model.
                                                                 //IEnumerable<Client.NamedItem> representative;

    string InvoiceNo;

    protected override async Task OnInitializedAsync()
    {
        // representative = await apiClient.GetAllRepresentativesNamesAsync(session.SecToken);
        await base.OnInitializedAsync();
    }

    async Task Submit()
    {
        dialogService.Close(InvoiceNo);
    }
}
