﻿@inject swaggerClient apiClient
@inject LocalizerService  loc
@inject NavigationManager Navigation
@inject ClientSessionService session
@inject DialogService dialogService


@if (session.IsLoggedIn)
{
    <a href="#" @onclick:preventDefault>@loc.Hello, @session.UserName!</a>
    <button class="nav-link btn btn-link" @onclick="Logout">@loc.LogOut</button>
}
else
{
    <a href="#" @onclick:preventDefault @onclick="ShowRegisterForm">@loc.Register</a>
    <a href="#" @onclick:preventDefault @onclick="ShowLoginForm">@loc.LogIn</a>
}

@code{
    override protected async Task OnInitializedAsync()
    {
        loc.CurrantLanguageChanged += (sender, language) => StateHasChanged();
        session.SessionStateChanged += async (sender, isLoggedIn) =>
        {
            //Console.WriteLine($"isLoggedIn={isLoggedIn}, session.IsLoggedIn={session.IsLoggedIn}");
            if (session.IsLoggedIn)
                StateHasChanged();
            else { ShowLoginForm(); }

            //Console.WriteLine($"isLoggedIn={isLoggedIn}, session.IsLoggedIn={session.IsLoggedIn}");
            //if (!isLoggedIn) await ShowLoginForm();
            //Console.WriteLine($"isLoggedIn={isLoggedIn}, session.IsLoggedIn={session.IsLoggedIn}");
        };
        dialogService.OnClose += DialogClosed;

        await ShowLoginForm();

        await base.OnInitializedAsync();
    }

    async void DialogClosed(dynamic result)
    {
        if (result is bool rez && rez == true)
            StateHasChanged();

    }

    async Task ShowLoginForm()
    {
        await dialogService.OpenAsync<Forms.LoginForm>(loc.LogIn);
    }

    async void ShowRegisterForm()
    {
        await dialogService.OpenAsync<Forms.RegisterForm>(loc.Register);
    }

    async void Logout()
    {
        await apiClient.LogOutAsync(session.SecToken);
        session.SecToken = Guid.Empty;
        session.UserId = Guid.Empty;
        session.UserName = "";
        session.IsAdmin = false;
        session.CanEdit = false;
        session.CanDelete = false;
        session.IsLoggedIn = false;
    }
}
