﻿@inherits LayoutComponentBase
@inject LocalizerService  loc
@inject ClientSessionService session

<style>
    .dimScreen {
        position: fixed;
        padding: 0;
        margin: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.8);
        z-index: 100; /* Just to keep it at the very top */
    }

    .center {
        width: 250px;
        height: 100px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        padding: 20px;
    }
</style>
<RadzenDialog />
<div class="page" dir="@loc.Direction">
    <div class="sidebar" style="background-image:none;background-color:cornflowerblue">
        <NavMenu />
    </div>

    <div class="main" dir="@loc.Direction">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <RadzenButton Click="@ToggelLanguage" title=@loc.OtherLanguage Icon="flag" ButtonStyle="ButtonStyle.Warning" />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
<div class="dimScreen" hidden="@session.IsLoggedIn">
    <div class="center">
        <div class="card">
            <div class="card-body bg-warning">
                <span class="material-icons">vpn_key</span>
                <LoginDisplay />
            </div>
        </div>
    </div>
</div>
<RadzenNotification />

@code{
    override protected async Task OnInitializedAsync()
    {
        loc.CurrantLanguageChanged += (sender, language) => StateHasChanged();
        session.SessionStateChanged += (sender, isLoggedIn) => StateHasChanged();
        await base.OnInitializedAsync();
    }

    void ToggelLanguage()
    {
        loc.ChangeLanguage();
    }
}