﻿@inject LocalizerService  loc

<div class="top-row pl-4 navbar navbar-dark" style="background-color:cornflowerblue">
    <a class="navbar-brand" href="">Volcano</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @loc.Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Customers">
                <span class="oi oi-briefcase" aria-hidden="true"></span> @loc.Customers
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Supervisors">
                <span class="oi oi-people" aria-hidden="true"></span> @loc.Supervisors
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Representatives">
                <span class="oi oi-people" aria-hidden="true"></span> @loc.Representatives
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Users">
                <span class="oi oi-person" aria-hidden="true"></span> @loc.Users
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="JobOrders">
                <span class="oi oi-document" aria-hidden="true"></span> @loc.JobOrders
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Reports">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> @loc.Reports
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Devices">
                <span class="oi oi-fire" aria-hidden="true"></span> @loc.Devices
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Services">
                <span class="oi oi-shield" aria-hidden="true"></span> @loc.Services
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        loc.CurrantLanguageChanged += (sender, language) => StateHasChanged();
        await base.OnInitializedAsync();
    }
}
