﻿@page "/Customers"
@inject swaggerClient apiClient;
@inject DialogService dialogService
@inject LocalizerService  loc
@inject ClientSessionService session
@inject NotificationService notificationService;
<h3>@loc.Customers</h3>

<div class="row toolbar">
    <div class="col-10">
        <RadzenButton Text="@loc.NewCustomer" Icon="add_circle_outline" Click="@ShowNewCustomerForm" />
    </div>
</div>

<RadzenDataGrid Count="@CustomersCount" Data="@customers" LoadData="@LoadData" AllowSorting="false"
                AllowFiltering="false" AllowPaging="true" PageSize="@PageSize" TItem="Client.CustomerRowModel" ColumnWidth="Auto"
                EmptyText="@loc.NoRows">
    <Columns>
        <RadzenDataGridColumn TItem="Client.CustomerRowModel" Property="NameAr" Filterable="false" Title="@loc.Name" />
        <RadzenDataGridColumn TItem="Client.CustomerRowModel" Property="NameEn" Filterable="false" Title="@loc.NameEn" />
        <RadzenDataGridColumn TItem="Client.CustomerRowModel" Property="RepresentativeName" Filterable="false" Title="@loc.Representative" />
        <RadzenDataGridColumn TItem="Client.CustomerRowModel" Property="ResponsibleName" Filterable="false" Title="@loc.ResponsibleName" />
        <RadzenDataGridColumn TItem="Client.CustomerRowModel" Property="IsCustomer" Filterable="false" Title="@loc.Customer" />
        <RadzenDataGridColumn TItem="Client.CustomerRowModel" Width="100px">
            <Template Context="data">
                <RadzenButton Click=@(args => EditItem(data)) title="@loc.Edit" ButtonStyle="ButtonStyle.Light" Icon="edit" Disabled="@(!session.CanEdit)" />
                <RadzenButton Click=@(args => DeleteItem(data.Id)) title="@loc.Delete" ButtonStyle="ButtonStyle.Light" Icon="delete" Disabled="@(!session.CanDelete)" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {

    IEnumerable<Client.CustomerRowModel> customers;

    int CustomersCount = 0;

    int PageSize = 30;

    async Task LoadData(Radzen.LoadDataArgs args = null)
    {
        customers = await apiClient.GetCustomersAsync("", args?.Skip ?? 0, args?.Top ?? PageSize, session.SecToken);
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        loc.CurrantLanguageChanged += (sender, language) => StateHasChanged();
        dialogService.OnClose += DialogClosed;

        CustomersCount = await apiClient.GetCustomersCountAsync("", session.SecToken);
        await LoadData();

        await base.OnInitializedAsync();
    }

    async void ShowNewCustomerForm()
    {
        await dialogService.OpenAsync<Forms.EditCustomer>(loc.NewCustomer, null, new DialogOptions { Width = "50%" });
    }

    async void DeleteItem(Guid id)
    {
        bool? confirm = await dialogService.Confirm(loc.ConfirmMessage, loc.Confirm, new ConfirmOptions() { OkButtonText = loc.Yes, CancelButtonText = loc.No });
        if (confirm.Value == true)
        {

            await apiClient.DeleteCustomerAsync(id, session.SecToken);



            if (StaticData.StatusCode == "400")
            {
                notificationService.Notify(new NotificationMessage() { Summary = loc.CannotDelete, Severity = NotificationSeverity.Error });
            }
            else
            {
                await LoadData();
            }




        }

    }

    async void DialogClosed(dynamic result)
    {
        // if (result is bool rez && rez == true)
        await LoadData();


        //if (((bool) result)==true)
        //{
        //    LoadData();
        //}
    }

    async void EditItem(Client.CustomerRowModel customer)
    {
        Dictionary<string, object> parameters = new Dictionary<string, object>();
        parameters.Add("CustomerId", customer.Id);
        parameters.Add("Customer", await apiClient.GetCustomerAsync(customer.Id, session.SecToken));
        await dialogService.OpenAsync<Forms.EditCustomer>(loc.EditCustomer, parameters, new DialogOptions { Width = "50%" });
    }
}
