﻿@page "/Devices"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject swaggerClient apiClient
@inject DialogService dialogService
@inject LocalizerService  loc
@inject ClientSessionService session
@inject NotificationService notificationService;
<h3>@loc.Devices</h3>

<div class="row toolbar">
    <div class="col-10">
        <RadzenButton Text="@loc.NewDevice" Icon="add_circle_outline" Click="@ShowNewDeviceForm" />
    </div>
</div>

<RadzenDataGrid Count="@DevicesCount" Data="@devices" LoadData="@LoadData" AllowSorting="false"
                AllowFiltering="false" AllowPaging="true" PageSize="@PageSize" TItem="Client.Device" ColumnWidth="Auto"
                EmptyText="@loc.NoRows">
    <Columns>
        <RadzenDataGridColumn TItem="Client.Device" Property="NameAr" Filterable="false" Title="@loc.Name" />
        <RadzenDataGridColumn TItem="Client.Device" Property="NameEn" Filterable="false" Title="@loc.NameEn" />
        <RadzenDataGridColumn TItem="Client.Device" Width="100px">
            <Template Context="data">
                <RadzenButton Click=@(args => EditItem(data)) title="@loc.Edit" ButtonStyle="ButtonStyle.Light" Icon="edit" Disabled="@(!session.CanEdit)" />
                <RadzenButton Click=@(args => DeleteItem(data.Id)) title="@loc.Delete" ButtonStyle="ButtonStyle.Light" Icon="delete" Disabled="@(!session.CanDelete)" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code { IEnumerable<Client.Device> devices;

            int DevicesCount = 0;

            int PageSize = 30;

            async Task LoadData(Radzen.LoadDataArgs args = null)
            {
                devices = await apiClient.GetDevicesAsync("", args?.Skip ?? 0, args?.Top ?? PageSize, session.SecToken);
                StateHasChanged();
            }

            protected override async Task OnInitializedAsync()
            {
                loc.CurrantLanguageChanged += (sender, language) => StateHasChanged();
                dialogService.OnClose += DialogClosed;

                DevicesCount = await apiClient.GetDevicesCountAsync("", session.SecToken);
                await LoadData();

                await base.OnInitializedAsync();
            }

            async void ShowNewDeviceForm()
            {
                await dialogService.OpenAsync<Forms.EditDevice>(loc.NewDevice);
            }

            async void DeleteItem(Guid id)
            {
                bool? confirm = await dialogService.Confirm(loc.ConfirmMessage, loc.Confirm, new ConfirmOptions() { OkButtonText = loc.Yes, CancelButtonText = loc.No });
                if (confirm.Value == true)
                {
                    await apiClient.DeleteDeviceAsync(id, session.SecToken);
                    if (StaticData.StatusCode == "400")
                    {
                        notificationService.Notify(new NotificationMessage() { Summary = loc.CannotDelete, Severity = NotificationSeverity.Error });
                    }
                    else
                    {
                        await LoadData();
                    }
                }

            }

            async void DialogClosed(dynamic result)
            {
                // if (result is bool rez && rez == true)
                await LoadData();


                //if (((bool) result)==true)
                //{
                //    LoadData();
                //}
            }

            async void EditItem(Client.Device device)
            {
                Dictionary<string, object> parameters = new Dictionary<string, object>();
                parameters.Add("Device", device);
                await dialogService.OpenAsync<Forms.EditDevice>(loc.EditDevice, parameters);
            } }
