﻿@page "/"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject swaggerClient apiClient;
@inject DialogService dialogService
@inject LocalizerService  loc
@inject ClientSessionService session

<style>
    .cardx {
        box-shadow: -6px -5px 24px 1px rgba(0,0,0,0.37);
        -webkit-box-shadow: -6px -5px 24px 1px rgba(0,0,0,0.37);
        -moz-box-shadow: -6px -5px 24px 1px rgba(0,0,0,0.37);
    }

    .box {
        background-color: aliceblue;
        border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        border: 2px solid cornflowerblue;
    }

        .box:hover {
            border: 2px solid orangered;
        }

        .box a {
            color: cornflowerblue
        }

            .box a:hover {
                color: orangered
            }
</style>
<div class="container" dir="@loc.Direction">
    <div class="card cardx" dir="@loc.Direction" style="padding:10px">
        <h1>@loc.Welcome</h1>
    </div>
    <br />
    <div class="card cardx">
        <div class="card-header">@loc.Data</div>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="box">
                        <NavLink class="nav-link" href="Customers">
                            <h2>   <span class="oi oi-briefcase" aria-hidden="true"></span> @loc.Customers</h2>
                        </NavLink>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="box">
                        <NavLink class="nav-link" href="Supervisors">
                            <h2>   <span class="oi oi-people" aria-hidden="true"></span> @loc.Supervisors</h2>
                        </NavLink>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="box">
                        <NavLink class="nav-link" href="Representatives">
                            <h2>   <span class="oi oi-people" aria-hidden="true"></span> @loc.Representatives</h2>
                        </NavLink>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="box">
                        <NavLink class="nav-link" href="Users">
                            <h2>   <span class="oi oi-person" aria-hidden="true"></span> @loc.Users</h2>
                        </NavLink>
                    </div>
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="box">
                        <NavLink class="nav-link" href="JobOrders">
                            <h2>   <span class="oi oi-document" aria-hidden="true"></span> @loc.JobOrders</h2>
                        </NavLink>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="box">
                        <NavLink class="nav-link" href="Devices">
                            <h2>   <span class="oi oi-fire aria-hidden="true"></span> @loc.Devices</h2>
                        </NavLink>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="box">
                        <NavLink class="nav-link" href="Services">
                            <h2>   <span class="oi oi-shield" aria-hidden="true"></span> @loc.Services</h2>
                        </NavLink>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <br />

    <div class="card cardx">
        <div class="card-header">@loc.Reports</div>
        <div class="card-body">
            <ul><li><NavLink Match="NavLinkMatch.All" href="Reports/CustomerReport">@loc.CustomerReport</NavLink></li></ul>
            <ul><li><NavLink Match="NavLinkMatch.All" href="Reports/SupervisorRepor">@loc.SupervisorReport</NavLink></li></ul>
            <ul><li><NavLink Match="NavLinkMatch.All" href="Reports/RepresentativeReport">@loc.RepresentativeReport</NavLink></li></ul>
            <ul><li><NavLink Match="NavLinkMatch.All" href="Reports/JobOrderReport">@loc.JobOrderReport</NavLink></li></ul>

        </div>
    </div>
</div>

@code{

    protected override async Task OnInitializedAsync()
    {
        loc.CurrantLanguageChanged += (sender, language) => StateHasChanged();
    }
}