﻿@page "/JobOrders"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject swaggerClient apiClient;
@inject DialogService dialogService
@inject LocalizerService  loc
@inject ClientSessionService session
@inject NotificationService notificationService;
<h3>@loc.JobOrders</h3>

<div class="row toolbar">
    <div class="col-10">
        <RadzenButton Text="@loc.NewJobOrder" Icon="add_circle_outline" Click="@ShowNewJobOrderForm" />
    </div>
</div>

<RadzenDataGrid Count="@jobOrdersCount" Data="@jobOrders" LoadData="@LoadData" AllowSorting="false"
                AllowFiltering="false" AllowPaging="true" PageSize="@PageSize" TItem="Client.JobOrderRowModel" ColumnWidth="Auto"
                EmptyText="@loc.NoRows">
    <Columns>
        <RadzenDataGridColumn TItem="Client.JobOrderRowModel" Property="InvoiceNumber" Filterable="false" Title="@loc.InvoiceNumber" />
        <RadzenDataGridColumn TItem="Client.JobOrderRowModel" Property="CustomerName" Filterable="false" Title="@loc.Customer" />
        <RadzenDataGridColumn TItem="Client.JobOrderRowModel" Property="RepresentativeName" Filterable="false" Title="@loc.Representative" />
        <RadzenDataGridColumn TItem="Client.JobOrderRowModel" Property="SupervisorName" Filterable="false" Title="@loc.Supervisor" />
        <RadzenDataGridColumn TItem="Client.JobOrderRowModel" Property="ResponsibleName" Filterable="false" Title="@loc.ResponsibleName" />
        <RadzenDataGridColumn TItem="Client.JobOrderRowModel" Property="ResponsibleTelephone" Filterable="false" Title="@loc.ResponsiblePhone" />
        <RadzenDataGridColumn TItem="Client.JobOrderRowModel" Property="IsDone" Filterable="false" Title="@loc.IsDone" />
        <RadzenDataGridColumn TItem="Client.JobOrderRowModel" Width="100px">
            <Template Context="data">
                <RadzenButton Click=@(args => EditItem(data.Id)) title="@loc.Edit" ButtonStyle="ButtonStyle.Light" Icon="edit" Disabled="@(!session.CanEdit)" />
                <RadzenButton Click=@(args => DeleteItem(data.Id)) title="@loc.Delete" ButtonStyle="ButtonStyle.Light" Icon="delete" Disabled="@(!session.CanDelete)" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code { IEnumerable<Client.JobOrderRowModel> jobOrders;

    int jobOrdersCount = 0;

    int PageSize = 30;

    async Task LoadData(Radzen.LoadDataArgs args = null)
    {
        jobOrders = await apiClient.GetJobOrdersAsync("", args?.Skip ?? 0, args?.Top ?? PageSize, session.SecToken);
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        loc.CurrantLanguageChanged += (sender, language) => StateHasChanged();
        dialogService.OnClose += DialogClosed;

        jobOrdersCount = await apiClient.GetJobOrdersCountAsync("", session.SecToken);
        await LoadData();

        await base.OnInitializedAsync();
    }

    async void ShowNewJobOrderForm()
    {
        await dialogService.OpenAsync<Forms.EditJobOrder>(loc.NewJobOrder, null, new DialogOptions { Width = "50%" });
    }

    async void DeleteItem(Guid id)
    {
        bool? confirm = await dialogService.Confirm(loc.ConfirmMessage, loc.Confirm, new ConfirmOptions() { OkButtonText = loc.Yes, CancelButtonText = loc.No });
        if (confirm.Value == true)
        {
            await apiClient.DeleteJobOrderAsync(id, session.SecToken);
            if (StaticData.StatusCode == "400")
            {
                notificationService.Notify(new NotificationMessage() { Summary = loc.CannotDelete, Severity = NotificationSeverity.Error });
            }
            else
            {
                await LoadData();
            }
        }
    }

    async void DialogClosed(dynamic result)
    {
        // if (result is bool rez && rez == true)
        await LoadData();


        //if (((bool) result)==true)
        //{
        //    LoadData();
        //}
    }

    async void EditItem(Guid id)
    {
        Dictionary<string, object> parameters = new Dictionary<string, object>();
        parameters.Add("JobOrder", await apiClient.GetJobOrderEditModelAsync(id, session.SecToken));
        await dialogService.OpenAsync<Forms.EditJobOrder>(loc.EditJobOrder, parameters, new DialogOptions { Width = "50%" });
    } }
