﻿@page "/Reports"
@inject LocalizerService  loc

<div class="card cardx">
    <div class="card-header">@loc.Reports</div>
    <div class="card-body">
        <ul><li><NavLink Match="NavLinkMatch.All" href="Reports/CustomerReport">@loc.CustomerReport</NavLink></li></ul>
        <ul><li><NavLink Match="NavLinkMatch.All" href="Reports/SupervisorRepor">@loc.SupervisorReport</NavLink></li></ul>
        <ul><li><NavLink Match="NavLinkMatch.All" href="Reports/RepresentativeReport">@loc.RepresentativeReport</NavLink></li></ul>
        <ul><li><NavLink Match="NavLinkMatch.All" href="Reports/JobOrderReport">@loc.JobOrderReport</NavLink></li></ul>
    </div>
</div>

@code {

}
