﻿@page "/Representatives"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject swaggerClient apiClient
@inject DialogService dialogService
@inject LocalizerService  loc
@inject ClientSessionService session
@inject NotificationService notificationService;

<h3>@loc.Representatives</h3>

<div class="row toolbar">
    <div class="col-10">
        <RadzenButton Text="@loc.NewRepresentative" Icon="add_circle_outline" Click="@ShowNewRepresentativeForm" />
    </div>
</div>

<RadzenDataGrid Count="@supervisorsCount" Data="@representatives" LoadData="@LoadData" AllowSorting="false"
                AllowFiltering="false" AllowPaging="true" PageSize="@PageSize" TItem="Client.Representative" ColumnWidth="Auto"
                EmptyText="@loc.NoRows">
    <Columns>
        <RadzenDataGridColumn TItem="Client.Representative" Property="Name" Filterable="false" Title="@loc.Name" />
        <RadzenDataGridColumn TItem="Client.Representative" Property="Telephone" Filterable="false" Title="@loc.Phone" />
        <RadzenDataGridColumn TItem="Client.Representative" Property="IsActive" Filterable="false" Title="@loc.Active" />
        <RadzenDataGridColumn TItem="Client.Representative" Width="100px">
            <Template Context="data">
                <RadzenButton Click=@(args => EditItem(data)) title="@loc.Edit" ButtonStyle="ButtonStyle.Light" Icon="edit" />
                <RadzenButton Click=@(args => DeleteItem(data.Id)) title="@loc.Delete" ButtonStyle="ButtonStyle.Light" Icon="delete" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code { IEnumerable<Client.Representative> representatives;

            int supervisorsCount = 0;

            int PageSize = 30;

            async Task LoadData(Radzen.LoadDataArgs args = null)
            {
                representatives = await apiClient.GetRepresentativesAsync("", args?.Skip ?? 0, args?.Top ?? PageSize, session.SecToken);
                StateHasChanged();
            }

            protected override async Task OnInitializedAsync()
            {
                loc.CurrantLanguageChanged += (sender, language) => StateHasChanged();
                dialogService.OnClose += DialogClosed;

                supervisorsCount = await apiClient.GetRepresentativesCountAsync("", session.SecToken);
                await LoadData();

                await base.OnInitializedAsync();
            }

            async void ShowNewRepresentativeForm()
            {
                await dialogService.OpenAsync<Forms.EditRepresentative>(loc.NewRepresentative);
            }

            async void DeleteItem(Guid id)
            {
                bool? confirm = await dialogService.Confirm(loc.ConfirmMessage, loc.Confirm, new ConfirmOptions() { OkButtonText = loc.Yes, CancelButtonText = loc.No });
                if (confirm.Value == true)
                {
                    await apiClient.DeleteRepresentativeAsync(id, session.SecToken);
                    if (StaticData.StatusCode == "400")
                    {
                        notificationService.Notify(new NotificationMessage() { Summary = loc.CannotDelete, Severity = NotificationSeverity.Error });
                    }
                    else
                    {
                        await LoadData();
                    }
                }

            }

            async void DialogClosed(dynamic result)
            {
                // if (result is bool rez && rez == true)
                await LoadData();


                //if (((bool) result)==true)
                //{
                //    LoadData();
                //}
            }

            async void EditItem(Client.Representative representative)
            {
                Dictionary<string, object> parameters = new Dictionary<string, object>();
                parameters.Add("Representative", representative);
                await dialogService.OpenAsync<Forms.EditRepresentative>(loc.EditRepresentative, parameters);
            } }
