﻿@page "/Supervisors"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@inject swaggerClient apiClient
@inject DialogService dialogService
@inject LocalizerService  loc
@inject ClientSessionService session
@inject NotificationService notificationService;

<h3>@loc.Supervisors</h3>

<div class="row toolbar">
    <div class="col-10">
        <RadzenButton Text="@loc.NewSupervisor" Icon="add_circle_outline" Click="@ShowNewSupervisorForm" />
    </div>
</div>

<RadzenDataGrid Count="@supervisorsCount" Data="@supervisors" LoadData="@LoadData" AllowSorting="false"
                AllowFiltering="false" AllowPaging="true" PageSize="@PageSize" TItem="Client.Supervisor" ColumnWidth="Auto"
                EmptyText="@loc.NoRows">
    <Columns>
        <RadzenDataGridColumn TItem="Client.Supervisor" Property="Name" Filterable="false" Title="@loc.Name" />
        <RadzenDataGridColumn TItem="Client.Supervisor" Property="Telephone" Filterable="false" Title="@loc.Phone" />
        <RadzenDataGridColumn TItem="Client.Supervisor" Property="IsActive" Filterable="false" Title="@loc.Active" />
        <RadzenDataGridColumn TItem="Client.Supervisor" Width="100px">
            <Template Context="data">
                <RadzenButton Click=@(args => EditItem(data)) title="@loc.Edit" ButtonStyle="ButtonStyle.Light" Icon="edit" Disabled="@(!session.CanEdit)" />
                <RadzenButton Click=@(args => DeleteItem(data.Id)) title="@loc.Delete" ButtonStyle="ButtonStyle.Light" Icon="delete" Disabled="@(!session.CanDelete)" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code { IEnumerable<Client.Supervisor> supervisors;

            int supervisorsCount = 0;

            int PageSize = 30;

            async Task LoadData(Radzen.LoadDataArgs args = null)
            {
                supervisors = await apiClient.GetSupervisorsAsync("", args?.Skip ?? 0, args?.Top ?? PageSize, session.SecToken);
                StateHasChanged();
            }

            protected override async Task OnInitializedAsync()
            {
                loc.CurrantLanguageChanged += (sender, language) => StateHasChanged();
                dialogService.OnClose += DialogClosed;

                supervisorsCount = await apiClient.GetSupervisorsCountAsync("", session.SecToken);
                await LoadData();

                await base.OnInitializedAsync();
            }

            async void ShowNewSupervisorForm()
            {
                await dialogService.OpenAsync<Forms.EditSupervisor>(loc.NewSupervisor);
            }

            async void DeleteItem(Guid id)
            {
                bool? confirm = await dialogService.Confirm(loc.ConfirmMessage, loc.Confirm, new ConfirmOptions() { OkButtonText = loc.Yes, CancelButtonText = loc.No });
                if (confirm.Value == true)
                {
                    await apiClient.DeleteSupervisorAsync(id, session.SecToken);
                    if (StaticData.StatusCode == "400")
                    {
                        notificationService.Notify(new NotificationMessage() { Summary = loc.CannotDelete, Severity = NotificationSeverity.Error });
                    }
                    else
                    {
                        await LoadData();
                    }
                }

            }

            async void DialogClosed(dynamic result)
            {
                // if (result is bool rez && rez == true)
                await LoadData();


                //if (((bool) result)==true)
                //{
                //    LoadData();
                //}
            }

            async void EditItem(Client.Supervisor supervisor)
            {
                Dictionary<string, object> parameters = new Dictionary<string, object>();
                parameters.Add("Supervisor", supervisor);
                await dialogService.OpenAsync<Forms.EditSupervisor>(loc.EditSupervisor, parameters);
            } }
