﻿@page "/Users"
@inject swaggerClient apiClient;
@inject DialogService dialogService
@inject LocalizerService  loc
@inject ClientSessionService session

<h3>@loc.Users</h3>

<div class="row toolbar">
    <div class="col-10">
        @*<RadzenButton Text="@loc.NewUser" Icon="add_circle_outline" Click="@ShowNewUserForm" />*@
    </div>
</div>

<RadzenDataGrid Count="@UsersCount" Data="@users" LoadData="@LoadData" AllowSorting="false"
                AllowFiltering="false" AllowPaging="true" PageSize="@PageSize" TItem="Client.User" ColumnWidth="Auto"
                EmptyText="@loc.NoRows">
    <Columns>
        <RadzenDataGridColumn TItem="Client.User" Property="UserName" Filterable="false" Title="@loc.UserName" />

        <RadzenDataGridColumn TItem="Client.User" Property="IsActive" Width="70px" Title="@loc.Active">
            <Template Context="data">
                @if (data.IsActive)
                {
                <RadzenButton Click=@(args => Deactivate(data.Id)) title="@loc.Active" ButtonStyle="ButtonStyle.Secondary" Icon="check_circle" />
                }
                else
                {
                <RadzenButton Click=@(args => Activate(data.Id)) title="@loc.Active" ButtonStyle="ButtonStyle.Light" Icon="cancel" />
                }

            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Client.User" Property="CanEdit" Width="70px" Title="@loc.CanEdit">
            <Template Context="data">
                @if (data.CanEdit)
                {
                <RadzenButton Click=@(args => DisallowEdit(data.Id)) title="@loc.CanEdit" ButtonStyle="ButtonStyle.Secondary" Icon="check_circle" />
                }
                else
                {
                <RadzenButton Click=@(args => AllowEdit(data.Id)) title="@loc.CanEdit" ButtonStyle="ButtonStyle.Light" Icon="cancel" />
                }

            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Client.User" Property="CanDelete" Width="70px" Title="@loc.CanDelete">
            <Template Context="data">
                @if (data.CanDelete)
                {
                <RadzenButton Click=@(args => DisallowDelete(data.Id)) title="@loc.CanDelete" ButtonStyle="ButtonStyle.Secondary" Icon="check_circle" />
                }
                else
                {
                <RadzenButton Click=@(args => AllowDelete(data.Id)) title="@loc.CanDelete" ButtonStyle="ButtonStyle.Light" Icon="cancel" />
                }

            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Client.User" Property="CanDelete" Width="70px" Title="@loc.IsAdmin">
            <Template Context="data">
                @if (data.IsAdmin)
                {
                <RadzenButton Click=@(args => MakeAdmin(data.Id)) title="@loc.IsAdmin" ButtonStyle="ButtonStyle.Secondary" Icon="check_circle" />
                }
                else
                {
                <RadzenButton Click=@(args => RemoveAdmin(data.Id)) title="@loc.IsAdmin" ButtonStyle="ButtonStyle.Light" Icon="cancel" />
                }

            </Template>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="Client.User" Width="100px">
            <Template Context="data">
                @*<RadzenButton Click=@(args => EditItem(data)) title="@loc.Edit" ButtonStyle="ButtonStyle.Light" Icon="edit" />*@
                <RadzenButton Click=@(args => DeleteItem(data.Id)) title="@loc.Delete" ButtonStyle="ButtonStyle.Light" Icon="delete" Disabled="@(!session.IsAdmin)" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {

    IEnumerable<Client.User> users;

    int UsersCount = 100;

    int PageSize = 100;

    async Task LoadData(Radzen.LoadDataArgs args = null)
    {
        users = await apiClient.GetAllUsersAsync(session.SecToken);
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        loc.CurrantLanguageChanged += (sender, language) => StateHasChanged();
        dialogService.OnClose += DialogClosed;

        //UsersCount = await apiClient.GetUserssCountAsync("");
        await LoadData();

        await base.OnInitializedAsync();
    }

    async void ShowNewUserForm()
    {
        await dialogService.OpenAsync<Forms.RegisterForm>(loc.Register);
    }

    async void DeleteItem(Guid userId)
    {
        bool? confirm = await dialogService.Confirm(loc.ConfirmMessage, loc.Confirm, new ConfirmOptions() { OkButtonText = loc.Yes, CancelButtonText = loc.No });
        if (confirm.Value == true)
        {
            await apiClient.DeleteUserAsync(userId, session.SecToken);
            await LoadData();
        }

    }

    async void DialogClosed(dynamic result)
    {
        // if (result is bool rez && rez == true)
        await LoadData();


        //if (((bool) result)==true)
        //{
        //    LoadData();
        //}
    }

    async void EditItem(Client.User device)
    {
        //Dictionary<string, object> parameters = new Dictionary<string, object>();
        //parameters.Add("Device", device);
        //await dialogService.OpenAsync<Forms.EditDevice>(loc.EditDevice, parameters);
    }

    async Task DisallowEdit(Guid userId)
    {
        await apiClient.DisallowUserToEditAsync(userId, session.SecToken);
        await LoadData();
    }

    async Task AllowEdit(Guid userId)
    {
        await apiClient.AllowUserToEditAsync(userId, session.SecToken);
        await LoadData();
    }

    async Task DisallowDelete(Guid userId)
    {
        await apiClient.DisllowUserToDeleteAsync(userId, session.SecToken);
        await LoadData();
    }

    async Task AllowDelete(Guid userId)
    {
        await apiClient.AllowUserToDeleteAsync(userId, session.SecToken);
        await LoadData();
    }

    async Task MakeAdmin(Guid userId)
    {
        await apiClient.MakeUserAdminAsync(userId, session.SecToken);
        await LoadData();
    }

    async Task RemoveAdmin(Guid userId)
    {
        await apiClient.RemoveUserAdminAsync(userId, session.SecToken);
        await LoadData();
    }

    async Task Activate(Guid userId)
    {
        await apiClient.ActivateUserAsync(userId, session.SecToken);
        await LoadData();
    }

    async Task Deactivate(Guid userId)
    {
        await apiClient.DeactivateUserAsync(userId, session.SecToken);
        await LoadData();
    }
}
