﻿@page "/Reports/CustomerReport"
@inject swaggerClient apiClient
@inject DialogService dialogService
@inject LocalizerService  loc
@inject ClientSessionService session

<ReportViewer TItem="Client.CustomerReportingModel" Data="customer" OnRefresh="Refresh">
    <div dir="@loc.Direction">
        <div class="row" dir="@loc.Direction">
            <div class="col" style="text-align:center">
                <h1>@customer.NameEn (@customer.NameAr)</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.Name</label></div>
            <div class="col-4"><div class="form-control">@customer.NameAr</div></div>
            <div class="col-2"><label>@loc.NameEn</label></div>
            <div class="col-4"><div class="form-control">@customer.NameEn</div></div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.ResponsibleName</label></div>
            <div class="col-4"><div class="form-control">@customer.ResponsibleName</div></div>
            <div class="col-2"><label>@loc.ResponsiblePhone</label></div>
            <div class="col-4"><div class="form-control">@customer.Telephone</div></div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.Representative</label></div>
            <div class="col-4"><div class="form-control">@customer.RepresentativeName</div></div>
            <div class="col-2"><label>@loc.StartingDate</label></div>
            <div class="col-4"><div class="form-control">@customer.StartingDate</div></div>
        </div>

        <div class="row"><div class="col"><label>@loc.Notes</label></div></div>
        <div class="row"><div class="col"><div class="form-control" style="height:100px">@customer.Notes</div></div></div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>@loc.Service</th>
                        <th>@loc.Device</th>
                        <th>M1</th>
                        <th>M2</th>
                        <th>M3</th>
                        <th>M4</th>
                        <th>M5</th>
                        <th>M6</th>
                        <th>M7</th>
                        <th>M8</th>
                        <th>M9</th>
                        <th>M10</th>
                        <th>M11</th>
                        <th>M12</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in customer.Plans)
                    {
                        <tr>
                            <td>@i.ServiceName</td>
                            <td>@i.DeviceName</td>
                            @((MarkupString)$"<td><input type=\"checkbox\" {(@i.M1? "checked":"")} /></td>")
                            @((MarkupString)$"<td><input type=\"checkbox\" {(@i.M2? "checked":"")} /></td>")
                            @((MarkupString)$"<td><input type=\"checkbox\" {(@i.M3? "checked":"")} /></td>")
                            @((MarkupString)$"<td><input type=\"checkbox\" {(@i.M4? "checked":"")} /></td>")
                            @((MarkupString)$"<td><input type=\"checkbox\" {(@i.M5? "checked":"")} /></td>")
                            @((MarkupString)$"<td><input type=\"checkbox\" {(@i.M6? "checked":"")} /></td>")
                            @((MarkupString)$"<td><input type=\"checkbox\" {(@i.M7? "checked":"")} /></td>")
                            @((MarkupString)$"<td><input type=\"checkbox\" {(@i.M8? "checked":"")} /></td>")
                            @((MarkupString)$"<td><input type=\"checkbox\" {(@i.M9? "checked":"")} /></td>")
                            @((MarkupString)$"<td><input type=\"checkbox\" {(@i.M10? "checked":"")} /></td>")
                            @((MarkupString)$"<td><input type=\"checkbox\" {(@i.M11? "checked":"")} /></td>")
                            @((MarkupString)$"<td><input type=\"checkbox\" {(@i.M12? "checked":"")} /></td>")
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</ReportViewer>

@code {
    CustomerReportingModel customer;

    protected override async Task OnInitializedAsync()
    {
        dialogService.OnClose += DialogClosed;

        await base.OnInitializedAsync();

        await Refresh();
    }

    async void DialogClosed(dynamic result)
    {
        if (Guid.TryParse(result?.ToString(), out Guid id))
        {
            customer = await apiClient.GetCustomerReportDataAsync(id, session.SecToken);
            StateHasChanged();
        }
    }

    async Task Refresh()
    {
        await dialogService.OpenAsync<Forms.SelectCustomerForm>(loc.SelectCustomer, null, null);
    }

}
