﻿@page "/Reports/JobOrderReport"
@inject swaggerClient apiClient
@inject DialogService dialogService
@inject LocalizerService  loc
@inject ClientSessionService session
@inject NotificationService notificationService

<ReportViewer TItem="Client.JobOrderReportingModel" Data="JobOrder" OnRefresh="Refresh">
    <div dir="@loc.Direction">
        <div class="row" dir="@loc.Direction">
            <div class="col" style="text-align:center">
                <h1>@loc.JobOrder @loc.InvoiceNumber @JobOrder.InvoiceNumber</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.BatchNumber</label></div>
            <div class="col-4"><div class="form-control">@JobOrder.BatchNumber</div></div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.InvoiceNumber</label></div>
            <div class="col-4"><div class="form-control">@JobOrder.InvoiceNumber</div></div>
            <div class="col-2"><label>@loc.Customer</label></div>
            <div class="col-4"><div class="form-control">@JobOrder.CustomerName</div></div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.Representative</label></div>
            <div class="col-4"><div class="form-control">@JobOrder.RepresentativeName</div></div>
            <div class="col-2"><label>@loc.Supervisor</label></div>
            <div class="col-4"><div class="form-control">@JobOrder.SupervisorName</div></div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.ResponsibleName</label></div>
            <div class="col-4"><div class="form-control">@JobOrder.ResponsibleName</div></div>
            <div class="col-2"><label>@loc.ResponsiblePhone</label></div>
            <div class="col-4"><div class="form-control">@JobOrder.ResponsibleTelephone</div></div>
        </div>


        <div class="row"><div class="col"><label>@loc.Statement</label></div></div>
        <div class="row"><div class="col"><div class="form-control" style="height:100px">@JobOrder.Statement</div></div></div>

        <div class="row"><div class="col"><label>@loc.SpareParts</label></div></div>
        <div class="row"><div class="col"><div class="form-control" style="height:100px">@JobOrder.SpareParts</div></div></div>

        <div class="row"><div class="col"><label>@loc.Done</label></div></div>
        <div class="row"><div class="col"><div class="form-control" style="height:100px">@JobOrder.Done</div></div></div>

        <div class="row"><div class="col"><label>@loc.Services</label></div></div>
        <div class="row"><div class="col"><div class="form-control" style="height:100px">@services</div></div></div>

        <div class="row"><div class="col"><label>@loc.IsDone</label></div></div>
        <div class="row"><div class="col"><div class="form-control">@JobOrder.IsDone</div></div></div>

    </div>
</ReportViewer>

@code { JobOrderReportingModel JobOrder;
    string services;

    protected override async Task OnInitializedAsync()
    {
        dialogService.OnClose += DialogClosed;

        await base.OnInitializedAsync();

        await Refresh();
    }

    async void DialogClosed(dynamic result)
    {
        if (result == null) return;
        //Console.WriteLine(result.GetType());
        if (result is JobOrderEditModel editModel)
        {
            JobOrder = await apiClient.GetJobOrderReportDataAsync(session.SecToken, editModel);
            if (JobOrder == null)
            {
                notificationService.Notify(new NotificationMessage() { Summary = loc.NotFound, Severity = NotificationSeverity.Error });

                return;
            }
            services = "";
            services += JobOrder.ReportPreparing ? loc.ReportPreparing + ", " : "";
            services += JobOrder.MaintenanceOfExtinguishers ? loc.MaintenanceOfExtinguishers + ", " : "";
            services += JobOrder.MaintenanceAndRepair ? loc.MaintenanceAndRepair + ", " : "";
            services += JobOrder.RepairFailures ? loc.RepairFailures + ", " : "";
            services += JobOrder.ApproveSparePartsChange ? loc.ApproveSparePartsChange + ", " : "";
            services += JobOrder.SiteStudy ? loc.SiteStudy + ", " : "";
            services = services.Substring(0, services.Length - 2);
            StateHasChanged();
        }
    }

    async Task Refresh()
    {
        await dialogService.OpenAsync<Forms.SelectJobOrder>(loc.SelectJobOrder, null, null);
    } }
