﻿@page "/Reports/RepresentativeReport"
@inject swaggerClient apiClient
@inject DialogService dialogService
@inject LocalizerService  loc
@inject ClientSessionService session

<ReportViewer TItem="Client.RepresentativeReportingModel" Data="Representative" OnRefresh="Refresh">
    <div dir="@loc.Direction">
        <div class="row" dir="@loc.Direction">
            <div class="col" style="text-align:center">
                <h1>@Representative.Name</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.Name</label></div>
            <div class="col-4"><div class="form-control">@Representative.Name</div></div>
            <div class="col-2"><label>@loc.Nationality</label></div>
            <div class="col-4"><div class="form-control">@Representative.Nationality</div></div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.BirthDate</label></div>
            <div class="col-4"><div class="form-control">@Representative.BirthDate</div></div>
            <div class="col-2"><label>@loc.StartingDate</label></div>
            <div class="col-4"><div class="form-control">@Representative.WorkStartingDate</div></div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.ResidencyDate</label></div>
            <div class="col-4"><div class="form-control">@Representative.ResidencyDate</div></div>
            <div class="col-2"><label>@loc.ResidencyEndDate</label></div>
            <div class="col-4"><div class="form-control">@Representative.ResidencyEndDate</div></div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.ResidencyNumber</label></div>
            <div class="col-4"><div class="form-control">@Representative.ResidencyNumber</div></div>
            @*<div class="col-2"><label>@loc.ResidencyEndDate</label></div>
                <div class="col-4"><div class="form-control">@Representative.ResidencyEndDate</div></div>*@
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.PassportDate</label></div>
            <div class="col-4"><div class="form-control">@Representative.PassportDate</div></div>
            <div class="col-2"><label>@loc.PassportEndDate</label></div>
            <div class="col-4"><div class="form-control">@Representative.PassportEndDate</div></div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.PassportNumber</label></div>
            <div class="col-4"><div class="form-control">@Representative.PassportNumber</div></div>
            @*<div class="col-2"><label>@loc.ResidencyEndDate</label></div>
                <div class="col-4"><div class="form-control">@Representative.ResidencyEndDate</div></div>*@
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.LicenseDate</label></div>
            <div class="col-4"><div class="form-control">@Representative.LicenseDate</div></div>
            <div class="col-2"><label>@loc.LicenseEndDate</label></div>
            <div class="col-4"><div class="form-control">@Representative.LicenseEndDate</div></div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.LicenseNumber</label></div>
            <div class="col-4"><div class="form-control">@Representative.LicenseNumber</div></div>
            @*<div class="col-2"><label>@loc.ResidencyEndDate</label></div>
                <div class="col-4"><div class="form-control">@Representative.ResidencyEndDate</div></div>*@
        </div>


        <div class="row"><div class="col"><label>@loc.Address</label></div></div>
        <div class="row"><div class="col"><div class="form-control" style="height:100px">@Representative.Address</div></div></div>

        <div class="row"><div class="col"><label>@loc.Phone</label></div></div>
        <div class="row"><div class="col"><div class="form-control" style="height:100px">@Representative.Telephone</div></div></div>

    </div>
</ReportViewer>

@code {
    RepresentativeReportingModel Representative;

    protected override async Task OnInitializedAsync()
    {
        dialogService.OnClose += DialogClosed;

        await base.OnInitializedAsync();

        await Refresh();
    }

    async void DialogClosed(dynamic result)
    {
        if (Guid.TryParse(result?.ToString(), out Guid id))
        {
            Representative = await apiClient.GetRepresentativeReportDataAsync(id, session.SecToken);
            StateHasChanged();
        }
    }

    async Task Refresh()
    {
        await dialogService.OpenAsync<Forms.SelectRepresentativeForm>(loc.SelectRepresentative, null, null);
    }

}
