﻿@page "/Reports/SupervisorRepor"
@inject swaggerClient apiClient
@inject DialogService dialogService
@inject LocalizerService  loc
@inject ClientSessionService session

<ReportViewer TItem="Client.SupervisorReportingModel" Data="Supervisor" OnRefresh="Refresh">
    <div dir="@loc.Direction">
        <div class="row" dir="@loc.Direction">
            <div class="col" style="text-align:center">
                <h1>@Supervisor.Name</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.Name</label></div>
            <div class="col-4"><div class="form-control">@Supervisor.Name</div></div>
            <div class="col-2"><label>@loc.Nationality</label></div>
            <div class="col-4"><div class="form-control">@Supervisor.Nationality</div></div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.BirthDate</label></div>
            <div class="col-4"><div class="form-control">@Supervisor.BirthDate</div></div>
            <div class="col-2"><label>@loc.StartingDate</label></div>
            <div class="col-4"><div class="form-control">@Supervisor.WorkStartingDate</div></div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.ResidencyDate</label></div>
            <div class="col-4"><div class="form-control">@Supervisor.ResidencyDate</div></div>
            <div class="col-2"><label>@loc.ResidencyEndDate</label></div>
            <div class="col-4"><div class="form-control">@Supervisor.ResidencyEndDate</div></div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.ResidencyNumber</label></div>
            <div class="col-4"><div class="form-control">@Supervisor.ResidencyNumber</div></div>
            @*<div class="col-2"><label>@loc.ResidencyEndDate</label></div>
                <div class="col-4"><div class="form-control">@Supervisor.ResidencyEndDate</div></div>*@
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.PassportDate</label></div>
            <div class="col-4"><div class="form-control">@Supervisor.PassportDate</div></div>
            <div class="col-2"><label>@loc.PassportEndDate</label></div>
            <div class="col-4"><div class="form-control">@Supervisor.PassportEndDate</div></div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.PassportNumber</label></div>
            <div class="col-4"><div class="form-control">@Supervisor.PassportNumber</div></div>
            @*<div class="col-2"><label>@loc.ResidencyEndDate</label></div>
                <div class="col-4"><div class="form-control">@Supervisor.ResidencyEndDate</div></div>*@
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.LicenseDate</label></div>
            <div class="col-4"><div class="form-control">@Supervisor.LicenseDate</div></div>
            <div class="col-2"><label>@loc.LicenseEndDate</label></div>
            <div class="col-4"><div class="form-control">@Supervisor.LicenseEndDate</div></div>
        </div>

        <div class="row">
            <div class="col-2"><label>@loc.LicenseNumber</label></div>
            <div class="col-4"><div class="form-control">@Supervisor.LicenseNumber</div></div>
            @*<div class="col-2"><label>@loc.ResidencyEndDate</label></div>
                <div class="col-4"><div class="form-control">@Supervisor.ResidencyEndDate</div></div>*@
        </div>


        <div class="row"><div class="col"><label>@loc.Address</label></div></div>
        <div class="row"><div class="col"><div class="form-control" style="height:100px">@Supervisor.Address</div></div></div>

        <div class="row"><div class="col"><label>@loc.Phone</label></div></div>
        <div class="row"><div class="col"><div class="form-control" style="height:100px">@Supervisor.Telephone</div></div></div>

    </div>
</ReportViewer>

@code {
    SupervisorReportingModel Supervisor;

    protected override async Task OnInitializedAsync()
    {
        dialogService.OnClose += DialogClosed;

        await base.OnInitializedAsync();

        await Refresh();
    }

    async void DialogClosed(dynamic result)
    {
        if (Guid.TryParse(result?.ToString(), out Guid id))
        {
            Supervisor = await apiClient.GetSupervisorReportDataAsync(id, session.SecToken);
            StateHasChanged();
        }
    }

    async Task Refresh()
    {
        await dialogService.OpenAsync<Forms.SelectSupervisorForm>(loc.SelectSupervisor, null, null);
    }

}
